/* Basic reset */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

/* Video Parallax Section */
.video-parallax {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.video-parallax video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
}

.overlay-content {
    position: relative;
    color: #fff;
    text-align: center; /* Center-align text within the overlay content */
    z-index: 2;
    padding: 20px;
    width: 100%; /* Ensure it takes full width */
    max-width: 800px;
    margin: 0 auto; /* Center the content block horizontally */
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
}

.overlay-content h1 {
    font-size: 3rem;
    margin: 1;
    outline: #000;
}

.overlay-content p {
    font-size: 1.5rem;
    margin: 10px 0;
    
}

/* Get Started button styling */
.btn-get-started {
    display: inline-block;
    background-color: #6a1b9a; /* Purple theme */
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    text-decoration: none;
    margin-top: 20px; /* Space between paragraph and button */
    transition: background-color 0.3s ease;
}

.btn-get-started:hover {
    background-color: #ab47bc; /* Lighter purple on hover */
}

/* Remove scroll for body */
body {
    overflow: hidden;
    background-color: transparent;
}

/* Contact Us button styling */
.contact-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #000;
    border: 1px solid #000;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: none;
    background-color: transparent; /* Blend with transparent footer */
    z-index: 1000; /* Ensure button is above other content */
}

.contact-button:hover {
    background-color: #000;
    color: #fff;
}
