body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/static/media/bg.png'); /* Replace with your image path */
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    color: #fff;
}

.form-container {
    width: 100%;
    max-width: 400px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input, select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    background-color: #6a1b9a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #ab47bc;
}

.next-btn, .prev-btn {
    margin-bottom: 10px;
}

.submit-btn {
    background-color: #28a745;
}

.submit-btn:hover {
    background-color: #218838;
}
.error-message {
    display: none; /* Hidden by default */
    color: #d9534f; /* Bootstrap's danger color */
    font-size: 0.875rem; /* Slightly smaller text */
}

input:invalid, select:invalid {
    border-color: #d9534f; /* Red border for invalid inputs */
}

input:valid, select:valid {
    border-color: #5bc0de; /* Light blue border for valid inputs */
}
